hr{
    margin:{
        background-color:var(--branco);
        padding:1em;}

HEADER
.cabeçalho
width: 24px;
height:24px;
background-image:url(".. /img/Menu.svg");
backgroun-repeat: no-repeat;
background-position: center;
display:inline-block;}
.cabeçalho{
background-color: var(--branco);
display: flex;
justify-content: space-between;
align-items:center;
position:relative;}
.container{
display: flex;
align-items:center;}
.container__imagem{
paddigin:1em;}
.lista-menu{
    display:none;
    position:absolute;
    top: 100%;
    width:60vw.}
    .container--botão:checked~.lista-menu{
    display:block;}
    .lista-meu__titulo,
    .lista-menu__item{
    padding:1em;
    background-color:var(--branco);}
    .lista-menu__titulo{
        color:var(--laranja);
        font-weight:700;}
        .lista-menu__link{
            background-clip:text;
            -webkit-background-clip: transparnt;
            -webkit-text-fill-color: text;
            background-clip:text;
            text-transform: uppercase;}
            .container__botão{
                display:none;}